// Mixins
// -----------------------------------------------------------------------------

@mixin icon-mask($url, $size: rem(13), $color: currentColor) {
    display: inline-block;
    width: $size;
    height: $size;
    background-color: $color;
    -webkit-mask: url($url) no-repeat 50% 50%;
    mask: url($url) no-repeat 50% 50%;
    -webkit-mask-size: contain;
    mask-size: contain;
}

@mixin btn-active-styles($bg-color: $gray-100, $border-color: $gray-500) {
    background-color: $bg-color;
    border-color: $border-color;
}

@mixin btn-hover-effect($bg-color: $gray-100, $border-color: $gray-500) {
    transition: background-color 0.2s ease;

    &:hover {
        @include btn-active-styles($bg-color, $border-color);
    }
}