// Mixins
// -----------------------------------------------------------------------------

@mixin icon-mask($url, $size: rem(13), $color: currentColor) {
    display: inline-block;
    width: $size;
    height: $size;
    background-color: $color;
    -webkit-mask: url($url) no-repeat 50% 50%;
    mask: url($url) no-repeat 50% 50%;
    -webkit-mask-size: contain;
    mask-size: contain;
}

@mixin btn-active-styles($bg-color: $gray-100, $border-color: $gray-500) {
    background-color: $bg-color;
    border-color: $border-color;
}

@mixin btn-hover-effect($bg-color: $gray-100, $border-color: $gray-500) {
    transition: background-color 0.2s ease;

    &:hover {
        @include btn-active-styles($bg-color, $border-color);
    }
}

// 모바일 전용 터치 피드백 (배경색 어둡게 변경)
@mixin mobile-touch-effect($bg: $white) {
    -webkit-tap-highlight-color: transparent;

    &:active {
        background-color: darken($bg, 10%); // 버튼 배경 darken 적용
    }
}

// 말줄임표 처리 (Truncate text)
@mixin truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}