@use "../abstracts/functions" as *;
@use "../abstracts/mixins";
@use "../abstracts/variables";

html {
    scroll-behavior: smooth;
}

// 공통 레이아웃
body {
    font-family: variables.$font-family-base;
    background-color: variables.$white;
    font-weight: 600;
    color: variables.$gray-700;
    margin: 0;
}

// 유틸리티 클래스
.number-font {
    font-family: variables.$font-family-number;
    letter-spacing: rem(-0.5);
}

.cursor-pointer {
    cursor: pointer;
}

.text-gold {
    color: variables.$primary-gold !important;
}

// 레이아웃 유틸리티
.header-col {
    min-width: rem(250);
    flex: 0.8;
}

.search-input-wrap {
    max-width: rem(680);
}

// 아이콘 유틸리티
.icon-muted {
    opacity: 0.5;
    margin-right: variables.$space-xs;
}

.icon-muted-simple {
    width: rem(16);
    height: rem(16);
}

.vr-custom {
    height: rem(20);
}

.icon-invert {
    // filter: invert(1);
    width: rem(20);
}

.icon-mini {
    width: rem(12);
}

.icon-micro {
    width: rem(13);
    height: rem(13);
}

.icon-header {
    width: rem(24);
}

// 컨테이너
.container-fluid {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

main {
    position: relative; // 스티키 트랙 기준점
}

// 스티키 트랙
.sticky-track {
    position: absolute;
    top: rem(664); // 헤더 높이 반영 위치 조정
    // 푸터 침범 방지
    bottom: rem(100);
    left: 50%;
    margin-left: rem(700); // 1360/2 + 20px 간격
    width: rem(120);
    z-index: 1000; // 헤더보다 낮게 설정
    pointer-events: none; // 트랙 클릭 방지

    // 좁은 화면에서 안쪽 이동
    @media (max-width: rem(1520)) {
        margin-top: rem(96);
        margin-left: rem(560); // 컨텐츠 우측 겹침 설정
    }

    .floating-menu {
        pointer-events: auto; // 메뉴 클릭 허용
    }
}

// 플로팅 메뉴
.floating-menu {
    position: sticky;
    top: rem(10); // 상단 여백
    width: 100%;

    background: variables.$white;
    border: rem(1.5) solid variables.$gray-700;
    border-radius: variables.$space-xs;
    text-align: center;
    overflow: hidden;

    .menu-cart-section {
        padding: rem(20) 0 rem(0);
        display: flex;
        flex-direction: column;
        align-items: center;

        .btn-cart {
            display: flex;
            justify-content: center;
            align-items: center;
            width: rem(32);
            height: rem(32);
            margin-bottom: rem(15);

            svg {
                width: rem(32);
                height: rem(32);
            }
        }

        .divider {
            width: 100%;
            height: rem(1);
            background-color: variables.$gray-100;
            margin: 0;
        }
    }

    .menu-content {
        display: flex;
        flex-direction: column;
        padding: rem(10) rem(14);

        .menu-item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: variables.$space-sm 0;
            text-decoration: none;
            color: variables.$gray-700;

            .label {
                font-family: variables.$font-family-base;
                font-size: variables.$font-size-sm;
                font-weight: 500;
                color: variables.$gray-700;
                margin-bottom: 0;
                letter-spacing: rem(-0.5);
            }

            .count {
                font-family: variables.$font-family-number;
                font-size: variables.$font-size-base;
                font-weight: 700;
                color: variables.$system-info;
            }
        }

        .my-coupon {
            background: variables.$secondary-bg;
        }
    }

    .btn-top {
        width: 100%;
        padding: rem(12) 0;
        border: none;
        border-top: rem(1.5) solid variables.$gray-100;
        background: variables.$white;

        color: variables.$gray-700;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: variables.$space-xs;

        span {
            font-size: variables.$font-size-sm; // 이미지 레이아웃 맞춤
            font-weight: 700;
            color: variables.$gray-700;
            margin-top: rem(-2);
            font-family: variables.$font-family-number;
        }

    }
}

.icon-heart {
    width: rem(18);
    height: rem(18);
}

.cart-item {
    .icon-heart {
        width: rem(16) !important;
        height: rem(16) !important;
    }
}


// 공통 컨트롤 요소 
.qty-box {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: rem(1.5) solid variables.$gray-200;
    border-radius: variables.$space-xs;
    height: 100%;

    overflow: hidden;

    button {
        background: none;
        border: none;
        padding: 0;
        width: rem(48);
        height: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: rem(18);
            height: rem(18);
        }

        @include mixins.btn-hover-effect;
    }

    input {
        flex: .8;
        width: 60%;
        border: none;
        background: transparent;
        text-align: center;
        font-size: variables.$font-size-md;
        color: variables.$gray-700;
        outline: none;
        padding: 0;
        height: 90%;
        border-radius: variables.$space-xs;
        -moz-appearance: textfield;
        appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            appearance: none;
            margin: 0;
        }

        &:focus {
            outline: rem(2) solid variables.$gray-700;
        }
    }
}

// 아이콘 버튼
.btn-icon {
    width: rem(40);
    height: rem(40);
    border: rem(1.5) solid variables.$gray-300;
    border-radius: variables.$space-xs;
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    // 호버 효과
    &:hover {
        background-color: variables.$gray-50;
    }

    &.active {
        border-color: variables.$gray-700;
    }
}

custom-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;

}