// _header.scss - Header Styles for Step 1
// Colors (Local overrides to ensure yellow branding)
$emart-yellow: #FFC000;

.header {
    background-color: $white;

    // 1. Utility Bar
    .header-util {
        font-size: 13px;

        .nav-link {
            color: $gray-600;

            &:hover {
                color: $gray-700;
            }
        }
    }

    // 2. Main Header
    .header-main {
        .logo {
            i {
                color: $emart-yellow;
            }

            span {
                letter-spacing: -0.5px;
            }
        }

        .search-form {
            .input-group {
                border-color: $emart-yellow !important;

                input:focus {
                    box-shadow: none;
                    border-color: $emart-yellow;
                }

                .btn-warning {
                    background-color: $emart-yellow;
                    color: $gray-700;
                }
            }
        }

        .nav-item {
            .nav-link {
                color: $gray-700;

                &:hover i {
                    color: $emart-yellow;
                }
            }
        }
    }

    // 3. GNB
    .header-nav {
        .category-area {
            .category-link {
                &:hover .category-label {
                    color: $primary-gold;
                }
            }
        }

        .gnb-nav {
            .gnb-list {
                .nav-item {
                    .gnb-link {
                        color: $gray-700;
                        font-size: rem(16);
                        letter-spacing: -0.5px;

                        @media (max-width: 1280px) {
                            font-size: rem(16);
                        }

                        &.active,
                        &:hover {
                            color: $primary-gold;
                        }
                    }
                }
            }
        }
    }
}