html {
    scroll-behavior: smooth;
}

// 공통 레이아웃
body {
    min-width: rem(1400);
    font-family: $font-family-base;
    background-color: $white;
    color: $gray-700;
    margin: 0;
    overflow-x: auto;
}

// 유틸리티 클래스
.number-font {
    font-family: $font-family-number;
    letter-spacing: -0.5px;
}

.cursor-pointer {
    cursor: pointer;
}

.text-gold {
    color: $primary-gold !important;
}

// 레이아웃 유틸리티
.header-col {
    min-width: rem(250);
    flex: 0.8;
}

.search-input-wrap {
    max-width: rem(680);
}

// 아이콘 유틸리티
.icon-muted {
    opacity: 0.5;
    margin-right: rem(4);
}

.icon-muted-simple {
    width: rem(16);
    height: rem(16);
}

.vr-custom {
    height: rem(20);
}

.icon-invert {
    // filter: invert(1);
    width: rem(20);
}

.icon-mini {
    width: rem(12);
}

.icon-micro {
    width: rem(13);
    height: rem(13);
}

.icon-header {
    width: rem(24);
}

// 컨테이너
.container-fluid {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

// 플로팅 메뉴
// 스티키 트랙
.sticky-track {
    position: absolute;
    top: rem(616); // 헤더 높이 반영 위치 조정
    bottom: 0;
    left: 50%;
    margin-left: rem(700); // 1360/2 + 20px 간격
    width: rem(120);
    z-index: 100;
}

// 플로팅 메뉴
.floating-menu {
    position: sticky;
    top: rem(10); // 상단 여백
    width: 100%;

    background: $white;
    border: 1px solid $gray-700;
    border-radius: rem(4);
    text-align: center;
    overflow: hidden;

    .menu-cart-section {
        padding: rem(20) 0 rem(0);
        display: flex;
        flex-direction: column;
        align-items: center;

        .btn-cart {
            display: flex;
            justify-content: center;
            align-items: center;
            width: rem(32);
            height: rem(32);
            margin-bottom: rem(15);

            svg {
                width: rem(32);
                height: rem(32);
            }
        }

        .divider {
            width: 100%;
            height: 1px;
            background-color: $gray-100;
            margin: 0;
        }
    }

    .menu-content {
        display: flex;
        flex-direction: column;
        padding: rem(10) rem(14);

        .menu-item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: rem(8) 0;
            text-decoration: none;
            color: $gray-700;

            .label {
                font-family: $font-family-base;
                font-size: rem(13);
                font-weight: 500;
                color: $gray-700;
                margin-bottom: 0;
                letter-spacing: -0.5px;
            }

            .count {
                font-family: $font-family-number;
                font-size: rem(14);
                font-weight: 700;
                color: $system-info;
            }
        }

        .my-coupon {
            background: $secondary-bg;
        }
    }

    .btn-top {
        width: 100%;
        padding: rem(12) 0;
        border: none;
        border-top: 1px solid $gray-100;
        background: $white;

        color: $gray-700;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(4);

        span {
            font-size: rem(13); // Adjusted to match image
            font-weight: 700;
            color: $gray-700;
            margin-top: rem(-2);
            font-family: $font-family-number;
        }

    }
}

.icon-heart {
    width: rem(18);
    height: rem(18);
}

.cart-item {
    .icon-heart {
        width: rem(16) !important;
        height: rem(16) !important;
    }
}


// 공통 컨트롤 요소 
.qty-box {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $gray-700;
    border-radius: rem(4);

    overflow: hidden;

    button {
        background: none;
        border: none;
        padding: 0;
        width: rem(48);
        height: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: rem(18);
            height: rem(18);
        }

        @include btn-hover-effect;
    }

    input {
        flex: .8;
        width: 60%;
        border: none;
        background: transparent;
        text-align: center;
        font-size: rem(16);
        font-weight: 600;
        color: $gray-700;
        outline: none;
        padding: 0;
        height: 90%;
        border-radius: rem(4);
        -moz-appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &:focus {
            outline: 2px solid $gray-700;
        }
    }
}

// 아이콘 버튼
.btn-icon {
    width: rem(40);
    height: rem(40);
    border: 1px solid $gray-300;
    border-radius: rem(4);
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    // 호버 효과
    &:hover {
        background-color: $gray-50;
    }

    .icon-heart {
        // 기본 상태
    }

    &.active {
        border-color: $gray-700;
    }
}

custom-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;

}