// Global Layout
body {
    min-width: rem(1400);
    font-family: $font-family-base;
    background-color: $white;
    margin: 0;
    overflow-x: auto;
}

// Utils
.number-font {
    font-family: $font-family-number;
    letter-spacing: -0.5px;
}

.cursor-pointer {
    cursor: pointer;
}

.text-gold {
    color: $primary-gold !important;
}

// Layout Utils
.header-col {
    min-width: rem(250);
    flex: 0.8;
}

.search-input-wrap {
    max-width: rem(680);
}

// Icons Utils
.icon-muted {
    opacity: 0.5;
    margin-right: rem(4);
}

.icon-muted-simple {
    width: rem(16);
    height: rem(16);
}

.vr-custom {
    height: rem(20);
}

.icon-invert {
    filter: invert(1);
    width: rem(20);
}

.icon-mini {
    width: rem(12);
}

.icon-micro {
    width: rem(13);
    height: rem(13);
}

.icon-header {
    width: rem(24);
}

// Container
.container-fluid {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}