// Typography
// -----------------------------------------------------------------------------

@font-face {
    font-family: 'Pretendard Variable';
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: url('../font/pretendard/PretendardVariable.woff2') format('woff2-variations');
}

// Global Typography settings can go here