@use "../../abstracts/functions" as *;
@use "../../abstracts/variables" as *;



// join.scss - 회원가입 페이지 스타일 (Sign-up page styles)

.join-page {
    background-color: $white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: rem(64); // 하단 고정 버튼 공간 (Bottom button space)

    // 헤더 스타일 (Header)
    .join-header {
        display: flex;
        align-items: center;
        justify-content: center; // 타이틀 중앙 정렬 (Center title)
        height: rem(56);
        padding: 0; // 패딩 제거로 타이틀 치우침 방지 (Remove padding)
        position: sticky;
        top: 0;
        background-color: $white;
        z-index: 10;

        .btn-back {
            position: absolute; // 위치 고정 (Absolute position)
            left: 0;
            top: 0;
            width: rem(56); // 클릭 영역 확장 (Expand clickable area)
            height: 100%; // 헤더 높이에 맞춤 (Match header height)
            display: flex;
            align-items: center;
            justify-content: center;
            background: none;
            border: none;
            padding: 0;
            margin: 0;

            &:hover {
                background: $gray-50;
            }

            svg {
                width: rem(24);
                height: rem(24);
            }
        }

        .header-title {
            font-size: rem(20);
            font-weight: 700;
            color: $black;
            margin: 0;
        }
    }

    // 컨텐츠 영역 (Content area)
    .join-container {
        padding: rem(32) rem(16) rem(24);
        flex: 1;

        .join-text-box {
            background-color: $white;
            border-radius: rem(8);
            margin-bottom: rem(24);

            p {
                font-size: rem(14);
                font-weight: 500;
                color: $gray-600;
                line-height: 1.5;
                margin-bottom: rem(4);
                letter-spacing: -0.02em;
            }
        }

        .agreement-group {
            display: flex;
            align-items: center;
            gap: rem(24);
            margin-top: rem(24);

            >custom-radio {
                flex: 1;
            }
        }
    }

    // 하단 고정 버튼 (Fixed bottom buttons)
    .join-footer-btns {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: rem(64);
        display: flex;
        z-index: 20;

        .btn-action {
            flex: 1;
            height: 100%;
            border: none;
            font-size: rem(18);
            font-weight: 700;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            &.cancel {
                background-color: $gray-300;
                color: $white;
            }

            &.confirm {
                background-color: $primary-gold;
                color: $white;
            }
        }
    }
}

// Custom Radio 스타일 주입 (Custom Radio styles)
custom-radio {
    display: inline-block;

    .custom-radio-wrap {
        display: flex;
        align-items: center;
        gap: rem(8);
        cursor: pointer;

        .hidden-radio {
            display: none;
        }

        .custom-radio-ui {
            width: rem(20);
            height: rem(20);
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                width: 100%;
                height: 100%;
            }
        }

        .label-text {
            font-size: rem(14);
            font-weight: 600;
            color: $gray-700;
        }
    }
}