// Mobile Stylesheet
// -----------------------------------------------------------------------------

// 1. Abstracts (Shared)
@import 'abstracts/functions';
@import 'abstracts/variables';
@import 'abstracts/mixins';

// 2. Base (Shared)
@import 'base/typography';
@import 'base/common';

// 3. Components (Shared)
@import 'components/badges';
@import 'components/cards';

// 4. Layout (Mobile)
@import 'layout/mobile/header';
@import 'layout/mobile/footer';