// PC Main Stylesheet
// -----------------------------------------------------------------------------

// 1. Abstracts
@import 'abstracts/functions';
@import 'abstracts/variables';
@import 'abstracts/mixins';

// 2. Base
@import 'base/typography';
@import 'base/common';

// 3. Components
@import 'components/badges';
@import 'components/cards';
@import 'components/ranking';


// 4. Layout (PC)
@import 'layout/pc/header';
@import 'layout/pc/footer';

// 5. Pages (PC)
@import 'pages/pc/home';