@use "../../abstracts/functions" as *;
@use "../../abstracts/mixins";
@use "../../abstracts/variables" as *;



.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: rem(75); // 모바일 내비게이션 높이
    background-color: $white;
    // border-top: none; // 그림자 또는 테두리 활용
    // border-top: 1px solid $gray-50;
    // box-shadow: 0 rem(-4) rem(10) rgba(0, 0, 0, 0.05);

    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 0 rem(16);
    z-index: 1000;
    box-sizing: border-box;

    .nav-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
        gap: rem(4);
        min-width: rem(48);
        height: 100%;
        color: $gray-300;
        text-decoration: none;
        @include mixins.mobile-touch-effect;

        .label {
            font-size: rem(10);
            font-weight: 600;
            line-height: 1.5;
            color: inherit;
            letter-spacing: -0.2px;
            white-space: nowrap;
        }

        &.nav-center {
            .eclub-logo {
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: rem(59);
                    height: rem(24);
                }
            }
        }

        &.active,
        &:active {
            color: $gray-700;
        }
    }
}