// Order Badges
.badge-order-red {
    background-color: $badge-red-bg;
    color: $badge-red-text;
    height: rem(48);
    font-size: rem(14);
    font-weight: 600;
    border-radius: rem(4);
    padding: rem(10) rem(12);
}

.badge-order-blue {
    background-color: $badge-blue-bg;
    color: $badge-blue-text;
    height: rem(48);
    font-size: rem(14);
    font-weight: 600;
    border-radius: rem(4);
    padding: rem(10) rem(12);
}